<!DOCTYPE html>
<ion-modal-view>

    <ion-header-bar>
        <h1 class="title" translate>DashboardModalDone</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list">

            <div class="list card">

                <div class="item item-avatar">
                    <img ng-src="{{dashboardGetChoreCategoryThumbPath(dashboardModalHistoric[historicCols.category])}}"/>
                    <h2>{{dashboardModalHistoric[historicCols.name]}}</h2>
                    <p>{{dashboardModalHistoric[historicCols.description]}}</p>
                    <a class="subdued">Todo in {{dashboardModalOriginalTimeInMn}} mn</a>
                </div>

                <div class="item item-body">
                    <!--<img class="full-image" src="delorean.jpg">
                    <p>
                        <a href="#" class="subdued">Last {{dashboardModalHistoric[historicCols.timeInMn]}} minutes</a>
                        <a href="#" class="subdued">{{dashboardShowLastHistoricDate(dashboardModalHistoric)}}</a>
                    </p>-->


                    <label class="item">
                        <span translate>DashboardModalTimesSpent</span>
                        <span class="badge">{{dashboardModalHistoric[historicCols.timeInMn]}} mn</span>
                    </label>
                    <div class="item range range-positive" style="border-top:0;">

                        <i class="icon ion-ios-time"></i>
                        <input type="range" min="0" ng-model="dashboardModalHistoric[historicCols.timeInMn]">
                        <i class="icon ion-ios-time-outline"></i>
                    </div>


                    <label class="item">
                        <span translate>DashboardModalHowDidYouFeel</span>
                    </label>

                    <div class="item range range-assertive" style="border-top:0;">
                        <i class="icon ion-sad"></i>
                        <input type="range" min="0" max="100"
                               ng-model="dashboardModalHistoric[historicCols.AUserAffinity]">
                        <i class="icon ion-happy-outline"></i>
                    </div>
                </div>

                <button type="button" class="button button-block button-assertive"
                        ng-click="dashboardCloseModal(dashboardModalHistoric);"
                        translate>
                    DashboardModalDidIt
                </button>
                <button type="button" class="button button-block button-stable" ng-click="dashboardCloseModal();"
                        translate>
                    DashboardModalCancel
                </button>

            </div>


        </div>


        </div>

    </ion-content>

</ion-modal-view>