
.monitor
.secret
.DS_Store
.env
.config.js
.config.test.js
.editorconfig
.github-webhook
*.log

Makefile

.c9/
.git/
.idea/
coverage/
node_modules/
build/
platforms/
plugins/
res/

www/lib/**/*.html
www/lib/**/*.htm
