<!DOCTYPE html>

<ion-view cache-view="false">
    <ion-content class="has-footer"><!--  class="has-subheader" hide-nav-bar="true"-->

        <div ng-if="!categoryInitSpinnerStopped"
             mle-animateshow="!categoryInitSpinnerStopped"
             after-show="afterNavigationInitSpinnerShow()"
             after-hide="afterNavigationInitSpinnerHide()">
            <div ng-include="'views/commons/computeChore.html'"></div>
        </div>
        <article ng-if="categoryInitSpinnerStopped">

            <!--
                 <nav class="bar bar-header bar-light">

                  <button class="button icon ion-navicon"></button>
                    <h1 class="title">Header Buttons</h1>
                    <button class="button">Edit</button>
                 </nav>

                 <article class=" has-subheader">-->

            <ion-list show-delete="true">
                <ion-item class="item item-icon-left item-dark" ng-repeat="msg in navErrMsgs track by $index">
                    <ion-delete-button class="ion-close-round"
                                       ng-click="navErrMsgs.splice($index,1)"></ion-delete-button>
                    <span style="white-space: normal">{{msg}}</span>
                </ion-item>
            </ion-list>


            <div class="list card">

                <div class="item item-avatar" ng-click="toggleStats = !toggleStats">
                    <img src="img/icone_coeur.jpg"/>
                    <h2 ng-if="navAppInitLevel() <= 2" translate>All chores</h2>
                    <p ng-if="navAppInitLevel() <= 2" translate>WorldWideStats</p>

                    <div ng-if="navAppInitLevel() <= 2">

                        <span class="badge badge-balanced">{{categoryIndicators.indicChoresTimeRequired * 7}} <span translate>min / week ?</span></span>
                    </div>
                    <div ng-if="navAppInitLevel() > 2">
                        <span class="badge badge-assertive" ng-show="categoryIndicators.indicChoresFeasibility < 0.4"
                              translate>NotGood</span>
                        <span class="badge badge-energized"
                              ng-show="categoryIndicators.indicChoresFeasibility >= 0.4 && categoryIndicators.indicChoresFeasibility < 0.7"
                              translate>NotBad</span>
                        <span class="badge badge-balanced" ng-show="categoryIndicators.indicChoresFeasibility >= 0.7"
                              translate>Good</span>
                    </div>

                </div>

                <div class="item item-body" ng-show="toggleStats">
                    <p>
                        <span translate>TimeAverageAvailable</span>
                        <span>{{categoryIndicators.indicChoresTimeRequired}}</span>
                        <span translate>min / day.</span>
                        <span translate>Feasibility</span>
                        <span>{{categoryIndicators.indicChoresFeasibility}}</span>
                    </p>
                </div>
            </div>


            <ion-list ng-controller="CategoryListCtrl" can-swipe="canSwipe" show-delete="showDelete"
                      show-reorder="showReorder"
                      class="animate-ripple">

                <ion-item class="item item-icon-left" ng-if="catFirstSwipeNotDone">
                    <i class="icon ion-android-arrow-back"></i>
                    <p translate>Guider_Discover and click on all chore categories</p>
                    <p translate>Guider_Swipe them to unactivate it</p>
                    <ion-option-button class="button-info" ng-click="catFirstSwipeDone()" translate>
                        CatIGotIt
                    </ion-option-button>
                </ion-item>

                <ion-item
                        class="item item-icon-right item-icon-left"
                        ng-repeat="category in categories | filter:{desactivate: false}  | filter : categoryFilter"
                        ng-href="#/config/categorychores/{{category[categoryCols.name]}}">

                    <img class="icon padding" ng-src="{{category[categoryCols.thumbPath]}}">
                    <span class="padding">{{category[categoryCols.description]}}</span>
                    <span class="badge badge-stable">{{(chores | filter:{desactivate: false} | filter : category[categoryCols.name]).length}}</span>
                    <ion-option-button class="button-info" ng-click="catDeactivate(category)" translate>
                        CatDeactivate
                    </ion-option-button>

                </ion-item>
                <!--  <ion-item class="item item-button">
                    <button class="button button-block button-outline">
                      <span translate>CategoryYouNeedMore</span> <i class="icon ion-plus-round"></i>
                    </button>
                  </ion-item>

                -->
                <div class="item item-button" ng-if="navAppInitLevel() == 2">
                    <a class="button button-block icon-right ion-chevron-right button-assertive"
                       ng-href="#/config/cal"
                       ng-click="navSetAppInitLevel(1);" translate>GuiderButton_What</a>
                </div>

            </ion-list>

            <button class="button button-block button-dark button-clear" style="margin-top: 40px;">
                <span translate>Unusefull list</span>
            </button>
            <ion-list ng-controller="CategoryListCtrl" can-swipe="canSwipe">
                <!--<ion-item ng-if="(categories | filter:{desactivate: true}  | filter : categoryFilter).length === 0"
                          class="item item-icon-right item-icon-left item-stable">
                    <span translate>Here .. all the categories you've deselected (swipe left)...</span>
                </ion-item>-->
                <ion-item
                        class="item item-icon-right item-icon-left item-stable"
                        ng-repeat="category in categories | filter:{desactivate: true}  | filter : categoryFilter"
                        ng-href="#/config/categorychores/{{category[categoryCols.name]}}">

                    <img class="icon padding" ng-src="{{category[categoryCols.thumbPath]}}">
                    <span class="padding">{{category[categoryCols.description]}}</span>
                    <ion-option-button class="button-info" ng-click="catActivate(category)" translate>
                        CatActivate
                    </ion-option-button>

                </ion-item>

            </ion-list>


        </article>

    </ion-content>
</ion-view>
<div ng-include="'views/commons/footer.html'"></div>
