<!DOCTYPE html>

<ion-view view-title="">
    <ion-nav-buttons side="left">
        <a class="button button-light icon ion-navicon" ng-click="choreSaveDetail();" href="#/config/chore"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button clear" style="margin-left:20px;" disabled>
            <img src="{{dashboardGetChoreCategoryThumbPath(choreToEdit[choreCols.category])}}" class="img-circle"
                 height="30px"/>
        </button>
    </ion-nav-buttons>
    <ion-content class="">


        <article class="container">
            <!--  <div class="row">

                <h3>My chore {{choreId}}</h3>
                <p>{{choreToEdit}}</p>
              </div>
      -->


            <form class="" name="choreModalChoreForm">

                <div class="list">

                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'ChoreName'|translate}}</span>
                        <input type="text" ng-model="choreToEdit[choreCols.name]"
                               placeholder="{{'ChoreName'|translate}}" required>
                    </label>

                    <label class="item item-input item-input item-select">
                        <span class="input-label">{{'ChoreType'|translate}}</span>
                        <select class="form-control" ng-model="thumbCategoryObj"
                                ng-options="thumbPath.description for thumbPath in categories  | filter : 'choreCategory'"
                                ng-change="choreCategorySetThumb(thumbCategoryObj)"></select>
                    </label>

                </div>
                <ul class="list">

                    <li class="item item-toggle">
                        {{'ChorePriority'|translate}}
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" ng-model="choreToEdit[choreCols.priority]">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>

                </ul>
                <div class="list">

                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'ChoreDescription'|translate}}</span><br>
                        <textarea ng-model="choreToEdit[choreCols.description]" rows="5"
                                  placeholder="{{'ChoreDescription'|translate}}"></textarea>
                    </label>


                    <label class="item item-input">
                        <span class="input-label">{{'ChoreEstimate'|translate}} : {{choreToEdit[choreCols.timeInMn]}} {{'ChoreEstimateMn'|translate}}</span>
                    </label>
                    <div class="item range range-positive">

                        <i class="icon ion-ios-clock-outline"></i>
                        <input type="range" min="0" ng-model="choreToEdit[choreCols.timeInMn]">
                        <i class="icon ion-ios-clock"></i>
                    </div>

                    <label class="item item-input">
                        <span class="input-label">{{'ChoreFrequency'|translate}} : {{choreToEdit[choreCols.frequencyDays]}} {{'ChoreFrequencyDays'|translate}}</span>
                    </label>
                    <div class="item range range-positive">

                        <i class="icon ion-ios-time-outline"></i>
                        <input type="range" min="0" ng-model="choreToEdit[choreCols.frequencyDays]">
                        <i class="icon ion-ios-time"></i>
                    </div>


                    <label class="item item-input">
                        <span class="input-label">{{'ChoreAffinity'|translate}}</span>
                    </label>
                    <div class="item range range-positive">

                        <i class="icon ion-happy-outline"></i>
                        <input type="range" min="0" max="100" ng-model="choreToEdit[choreCols.percentAB]">
                        <i class="icon ion-happy"></i>
                    </div>

                </div>

            </form>


        </article>

    </ion-content>
</ion-view>
