<!DOCTYPE html>

<ion-view cache-view="false">
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-arrow-left-b" ng-href="#/config/category"></a>
    </ion-nav-buttons>
    <ion-content  class="has-footer">


        <ion-refresher
                pulling-text="{{'PullToRefresh'|translate}}"
                on-refresh="categoryChoreDataSync()">
            <div ng-include="'views/commons/computeChore.html'"></div>
        </ion-refresher>

        <article>

            <ion-list show-delete="true">
                <ion-item class="item item-icon-left item-dark"
                          ng-repeat="msg in navErrMsgs">
                    <ion-delete-button class="ion-close-round"
                                       ng-click="navErrMsgs.splice($index,1)"></ion-delete-button>
                    <span style="white-space: normal">{{msg}}</span>
                </ion-item>
            </ion-list>

            <div class="list">
                <a class="item item-avatar" ng-href="#/config/category" style="border:0">
                    <img ng-src="{{categoryChoresCategoryThumb}}">
                    {{categoryChoresCategoryName}} ({{(categoryChores | filter:{desactivate: false}).length}})
                    <p translate>UsefullChoreList</p>
                </a>
            </div>

            <ion-list ng-controller="ChoresListCtrl"
                      show-delete="showDelete"
                      show-reorder="showReorder"
                      can-swipe="canSwipe">
                <ion-item
                        ng-repeat="chore in categoryChores | orderBy  : ['priority'] : false  | filter:{desactivate: false}"
                        class="item"
                        ng-href="#/chore/{{chore._id}}">


                    <section id="{{chore._id}}"></section>
                    {{chore[choreCols.name]}}
                    <span class="badge" ng-show="{{chore[choreCols.priority] < 3}}"><i
                            class="ion-icon ion-star"></i></span>

                    <ion-option-button class="button-info" ng-click="choreDeactivate(chore)" translate>
                        ChoreDeactivate
                    </ion-option-button>
                    <ion-delete-button class="ion-minus-circled"
                                       ng-click="choreDelete(chore)">
                    </ion-delete-button>
                    <ion-reorder-button class="ion-navicon"
                                        on-reorder="choreReorderItem(chore, $fromIndex, $toIndex)">
                    </ion-reorder-button>

                </ion-item>
                <ion-item class="item item-icon-left" ng-click="categoryChoresChoreAdd(categoryChoresCategoryId)">
                    <i class="ion-icon ion-plus"></i>
                    <span translate>AddOneChore..</span><span ng-show="false" translate>New Item</span>
                </ion-item>
            </ion-list>

            <button class="button button-block button-dark button-clear" style="margin-top: 40px;">
                <span translate>Unusefull list</span>
            </button>
            <ion-list ng-controller="ChoresListCtrl" can-swipe="canSwipe">
                <ion-item ng-repeat="chore in categoryChores | filter:{desactivate: true}"
                          class="item item-stable"
                          ng-href="#/chore/{{chore._id}}">


                    <section id="{{chore._id}}"></section>
                    {{chore[choreCols.name]}}
                    <ion-option-button class="button-info" ng-click="choreActivate(chore)" translate>
                        ChoreActivate
                    </ion-option-button>
                    <ion-delete-button class="ion-minus-circled"
                                       ng-click="choreDelete(chore)">
                    </ion-delete-button>
                    <ion-reorder-button class="ion-navicon"
                                        on-reorder="choreReorderItem(chore, $fromIndex, $toIndex)">
                    </ion-reorder-button>

                </ion-item>
            </ion-list>

        </article>

    </ion-content>
</ion-view>
<div ng-include="'views/commons/footer.html'"></div>
