<!DOCTYPE html>

<ion-view>


    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-arrow-left-b"
                ng-click="choreSaveDetail(); navBack();">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-arrow-right-b"
                ng-show="nextChoreToEdit"
                ng-click="choreSaveDetail();"
                ng-href="#/chore/{{nextChoreToEdit._id}}">
            
        </a>
    </ion-nav-buttons>

    <ion-content class="has-footer">


        <!-- ng show="choreToEdit[choreCols.name]"
        <ion-nav-back-button>
            <button class="button button-icon icon ion-arrow-left-b"
                    ng-click="choreSaveDetail();"
                    ng-href="#/categorychores/{{choreToEdit[choreCols.category]}}">
            </button>
        </ion-nav-back-button>-->

        <!-- ng show="nextChoreToEdit"
        <ion-nav-button side="right">
            <button  class="button button-icon icon ion-arrow-right-b"
                    ng-click="choreSaveDetail();"
                    ng-href="#/chore/{{nextChoreToEdit._id}}"
                    >
                Next
            </button>
        </ion-nav-button>-->


        <article class="container">
            <!--  <div class="row">

                <h3>My chore {{choreId}}</h3>
                <p>{{choreToEdit}}</p>
              </div>
      -->


            <form class="" name="choreModalChoreForm">

                <ul class="list">

                    <li class="item item-input">
                        <label class="input-label" translate>ChoreName</label>
                        <input type="text" ng-model="choreToEdit[choreCols.name]"
                               placeholder="{{'ChoreName'|translate}}" required>
                    </li>
                    <!--
                    <label class="item item-input item-input item-select">
                    <span class="input-label">{{'ChoreType'|translate}}</span>
                    <select class="form-control" ng-model="thumbCategoryObj" ng-options="thumbPath.description for thumbPath in categories  | filter : 'choreCategory'" ng-change="choreCategorySetThumb(thumbCategoryObj)"></select>
                    </label>
                    -->
                    <li class="item item-toggle">
                        {{'ChorePriority'|translate}}
                        <!--
                       <span style="color:red;font-style: italic;padding-left: 20px;" ng-show="choreToEdit && (choreToEdit[choreCols.priority] == 1)"><i class="icon ion-star"></i></span>
                       -->
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" ng-model="choreToEdit[choreCols.priority]">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-input">
                        <label class="input-label" translate>ChoreDescription</label>
                        <textarea ng-model="choreToEdit[choreCols.description]" rows="5"
                                  placeholder="{{'ChoreDescription'|translate}}"></textarea>
                    </li>

                    <li class="item range range-assertive">
                        <label class="input-label">
                            <span translate>ChoreEstimate</span><br>
                            <small>{{choreToEdit[choreCols.timeInMn]}} <span translate>mn</span></small>
                        </label>
                        <input type="range" min="1" max="120" ng-model="choreToEdit[choreCols.timeInMn]">
                        <i class="icon ion-clock"></i>
                    </li>
                    <li class="item range range-assertive">
                        <label class="input-label">
                            <span translate>ChoreFrequency</span><br>
                            <small><span translate>each</span> {{choreToEdit[choreCols.frequencyDays]}} <span
                                    translate>day(s)</span>
                            </small>
                        </label>
                        <input type="range" min="1" max="60" ng-model="choreToEdit[choreCols.frequencyDays]">
                        <i class="icon ion-stats-bars"></i>
                    </li>


                    <li class="item item-avatar" style="border-bottom:0;">
                        <img ng-src="{{navProfils[userA[userCols.profilID]].img}}">
                        {{userA[userCols.firstName]}}
                        <p translate>affinity for this item</p>
                    </li>
                    <li class="item range range-assertive" style="border-top:0;">
                        <label class="input-label">&nbsp;</label>
                        <input type="range" min="0" max="100" ng-model="choreToEdit[choreCols.AUserAffinity]">
                        <i class="icon ion-happy-outline"></i>
                    </li>

                    <li class="item item-avatar" style="border-bottom:0;">
                        <img ng-src="{{navProfils[userB[userCols.profilID]].img}}">
                        {{userB[userCols.firstName]}}
                        <p translate>affinity for this item</p>
                    </li>
                    <li class="item range range-assertive" style="border-top:0;">
                        <label class="input-label">&nbsp;</label>
                        <input type="range" min="0" max="100" ng-model="choreToEdit[choreCols.BUserAffinity]">
                        <i class="icon ion-happy-outline"></i>
                    </li>

                </ul>

                <a class="button button-block button-assertive"
                   ng-href="#/config/category"
                   ng-click="choreRemove(choreToEdit);"
                   translate>ChoreDetailRemove</a>

            </form>


        </article>

    </ion-content>
</ion-view>
