<!DOCTYPE html>

<footer class="bar bar-footer bar-assertive" ng-if="navAppInitLevel() === 2">
    <div class="h1 title">
        <a class="button button-clear" ng-href="#/dashboard/user/{{userA._id}}" ng-click="navSetAppInitLevel(3);"
           translate>Footer_ComputeDetailled</a>
    </div>
    <span style="float:right;font-size:8px;opacity:0.2"><span app-version></span> - {{navAppInitLevel()}}</span>
</footer>
<footer class="bar bar-footer bar-dark bar-dark-light" ng-if="navAppInitLevel() > 2">
    <div class="h1 title">
        <a class="button button-clear" ng-href="#/dashboard/user/{{userA._id}}" translate>Footer_Compute</a>
    </div>
    <span style="float:right;font-size:8px;opacity:0.2"><span app-version></span></span>
    <span style="float:right;font-size:8px;opacity:0.2">{{navAppOnlineLevel()}}</span>
</footer>


