<!DOCTYPE html>



  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title" translate>ModalUserLogout</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">

          <h4 class="item item-list">
            <i class="glyphicon glyphicon-warning"></i>
            <span translate>Changing your email means logout and loosing this Cleanator session</span>
          </h4>

          <div class="item item-list">
            <label translate>ModalUserWarningLogout</label>
            <button type="button" class="button button-block button-assertive" ng-click="closeModal();logout()" translate>
              UserLogout
            </button>

            <label>&nbsp;</label>
            <button type="button" class="button button-block button-stable" ng-click="closeModal();" translate>
              UserBackToSession
            </button>
          </div>

      </div>

    </ion-content>
  </ion-modal-view>

<!--
<div id="modalUserLogout" class="modal" tabindex="-2" role="dialog" aria-labelledby="modalUserLogout" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Logout</h4>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12">
                <h4>
                  <i class="glyphicon glyphicon-warning"></i>
                  <span>Changing your email means logout and loosing this Cleanator session</span>
                </h4>
              </div>
              <div class="col-xs-12">
                <button type="button" class="btn btn-warning col-sm-4 col-xs-12" ng-click="logout()"  style="margin-top:10px">
                  Logout
                </button>
                <button type="button" class="btn col-sm-4 col-sm-offset-4 col-xs-12" data-dismiss="modal" style="margin-top:10px">
                  Back to session
                </button>
              </div>

            </div>
          </div>

    </div>
  </div>
</div>

-->
