<!DOCTYPE html>
<ion-modal-view>
    <ion-header-bar>
        <h1 class="title" translate>ModalUserLogout</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <h4 class="item item-list  item-text-wrap">
                <i class="icon ion-alert-circled"></i>
                <span translate>Changing your email means logout and loosing this Cleanator session</span>
                <span translate>ModalUserWarningLogout</span>
            </h4>

            <div class="item item-list item-text-wrap">
                <button type="button" class="button button-block button-assertive" ng-click="closeModal(true);"
                        translate>
                    UserLogout
                </button>

                <label>&nbsp;</label>
                <button type="button" class="button button-block button-stable" ng-click="closeModal();" translate>
                    UserBackToSession
                </button>
            </div>

        </div>

    </ion-content>
</ion-modal-view>
