<!DOCTYPE html>

<ion-view>
    <ion-content class="has-footer">

        <div ng-if="!userInitSpinnerStopped"
             mle-animateshow="!userInitSpinnerStopped"
             after-show="afterNavigationInitSpinnerShow()"
             after-hide="afterNavigationInitSpinnerHide()">
            <div ng-include="'views/commons/computeChore.html'"></div>
        </div>

        <article ng-if="userInitSpinnerStopped">

            <ion-list show-delete="true">
                <ion-item class="item item-icon-left item-dark" ng-repeat="msg in navErrMsgs track by $index">
                    <ion-delete-button class="ion-close-round"
                                       ng-click="navErrMsgs.splice($index,1)"></ion-delete-button>
                    <span style="white-space: normal">{{msg}}</span>
                </ion-item>
            </ion-list>

            <!--<button class="button button-block button-clear">
              <h3 translate>It's time to carry on</h3>
            </button>-->

            <div class="list card">

                <div class="item item-avatar" ng-click="toggleStats = !toggleStats">
                    <img src="img/icone_coeur.jpg"/>
                    <!--<h2 ng-if="navAppInitLevel() <= 1" translate>CalendarDidYouKnow?</h2>
                    <p ng-if="navAppInitLevel() <= 1" translate>CalendarWorldWideStats</p>-->
                    <h3 ng-show="navAppInitLevel() <= 1">
                        {{userIndicators.indicUsersTimeAvailabity}}
                        <span translate>min VS</span>
                        {{userIndicators.indicChoresTimeRequired}}
                        <span translate>min / week ?</span>
                    </h3>
                    <div>
                        <span class="badge badge-assertive" ng-show="userIndicators.indicChoresFeasibility < 0.4"
                              translate>NotGood</span>
                        <span class="badge badge-energized"
                              ng-show="userIndicators.indicChoresFeasibility >= 0.4 && userIndicators.indicChoresFeasibility < 0.7"
                              translate>NotBad</span>
                        <span class="badge badge-balanced" ng-show="userIndicators.indicChoresFeasibility >= 0.7"
                              translate>Good</span>
                    </div>

                </div>

                <div class="item item-body" ng-show="toggleStats">
                    <p ng-show="navAppInitLevel() <= 1" translate>GUIDER_CalendarWorldwideStats : Do you know that the
                        average of time
                        dedicated to home chore is 200 hours by week ?</p>
                    <p>
                        <span translate>TimeAverageAvailable</span>
                        <span>{{userIndicators.indicUsersTimeAvailabity}}</span>
                        <span translate>min / day ?</span>

                        <span translate>TimeAverageRequired</span>
                        <span>{{userIndicators.indicChoresTimeRequired}}</span>
                        <span translate>min / day.</span>

                        <span translate>Feasibility</span>
                        <span>{{userIndicators.indicChoresFeasibility}}</span>
                    </p>
                </div>
            </div>


            <!-- user A -->
            <ul class="list">
                <li class="item item-avatar item-button-right" ng-click="toggleUserA = !toggleUserA">
                    <img ng-src="{{profil[userA[userCols.profilID]].img}}">
                    {{userA[userCols.firstName]}}
                    <p>{{navMathRound(userA[userCols.timeInMnPerWeekTodo] / 7)}} <span translate>minutes av./day</span>
                    </p>
                    <button class="button button-clear">
                        <i class="icon ion-ios-arrow-right" ng-hide="toggleUserA"></i>
                        <i class="icon ion-ios-arrow-down" ng-show="toggleUserA"></i>
                    </button>
                </li>
                <!-- week -->
                <li class="item range range-positive" ng-show="toggleUserA">
                    <label class="input-label" translate>Monday</label>
                    <input type="range" min="0" max="300" ng-model="userA[userCols.timeInMnPerMond]"
                           ng-change="userSave(userA);">
                    <span>{{userA[userCols.timeInMnPerMond]}} <span translate>mn</span></span>
                </li>
                <li class="item range range-positive" ng-show="toggleUserA">
                    <label class="input-label" translate>Tuesday</label>
                    <input type="range" min="0" max="300" ng-model="userA[userCols.timeInMnPerTues]"
                           ng-change="userSave(userA);">
                    <span>{{userA[userCols.timeInMnPerTues]}} <span translate>mn</span></span>
                </li>
                <li class="item range range-positive" ng-show="toggleUserA">
                    <label class="input-label" translate>Wednesday</label>
                    <input type="range" min="0" max="300" ng-model="userA[userCols.timeInMnPerWedn]"
                           ng-change="userSave(userA);">
                    <span>{{userA[userCols.timeInMnPerWedn]}} <span translate>mn</span></span>
                </li>
                <li class="item range range-positive" ng-show="toggleUserA">
                    <label class="input-label" translate>Thursday</label>
                    <input type="range" min="0" max="300" ng-model="userA[userCols.timeInMnPerThur]"
                           ng-change="userSave(userA);">
                    <span>{{userA[userCols.timeInMnPerThur]}} <span translate>mn</span></span>
                </li>
                <li class="item range range-positive" ng-show="toggleUserA">
                    <label class="input-label" translate>Friday</label>
                    <input type="range" min="0" max="300" ng-model="userA[userCols.timeInMnPerFrid]"
                           ng-change="userSave(userA);">
                    <span>{{userA[userCols.timeInMnPerFrid]}} <span translate>mn</span></span>
                </li>
                <li class="item range range-positive" ng-show="toggleUserA">
                    <label class="input-label" translate>Saturday</label>
                    <input type="range" min="0" max="300" ng-model="userA[userCols.timeInMnPerSatu]"
                           ng-change="userSave(userA);">
                    <span>{{userA[userCols.timeInMnPerSatu]}} <span translate>mn</span></span>
                </li>
                <li class="item range range-positive" ng-show="toggleUserA">
                    <label class="input-label" translate>Sunday</label>
                    <input type="range" min="0" max="300" ng-model="userA[userCols.timeInMnPerSund]"
                           ng-change="userSave(userA);">
                    <span>{{userA[userCols.timeInMnPerSund]}} <span translate>mn</span></span>
                </li>
            </ul>


            <!-- user B -->
            <ul class="list">
                <li class="item item-avatar item-button-right" ng-click="toggleUserB = !toggleUserB">
                    <img ng-src="{{profil[userB[userCols.profilID]].img}}">
                    {{userB[userCols.firstName]}}
                    <p>{{navMathRound(userB[userCols.timeInMnPerWeekTodo] / 7)}} <span translate>minutes av./day</span>
                    </p>
                    <button class="button button-clear">
                        <i class="icon ion-ios-arrow-right" ng-hide="toggleUserB"></i>
                        <i class="icon ion-ios-arrow-down" ng-show="toggleUserB"></i>
                    </button>
                </li>
                <!-- week -->
                <li class="item range range-positive" ng-show="toggleUserB">
                    <label class="input-label" translate>Monday</label>
                    <input type="range" min="0" max="300" ng-model="userB[userCols.timeInMnPerMond]"
                           ng-change="userSave(userB);">
                    <span>{{userB[userCols.timeInMnPerMond]}} <span translate>mn</span></span>
                </li>
                <li class="item range range-positive" ng-show="toggleUserB">
                    <label class="input-label" translate>Tuesday</label>
                    <input type="range" min="0" max="300" ng-model="userB[userCols.timeInMnPerTues]"
                           ng-change="userSave(userB);">
                    <span>{{userB[userCols.timeInMnPerTues]}} <span translate>mn</span></span>
                </li>
                <li class="item range range-positive" ng-show="toggleUserB">
                    <label class="input-label" translate>Wednesday</label>
                    <input type="range" min="0" max="300" ng-model="userB[userCols.timeInMnPerWedn]"
                           ng-change="userSave(userB);">
                    <span>{{userB[userCols.timeInMnPerWedn]}} <span translate>mn</span></span>
                </li>
                <li class="item range range-positive" ng-show="toggleUserB">
                    <label class="input-label" translate>Thursday</label>
                    <input type="range" min="0" max="300" ng-model="userB[userCols.timeInMnPerThur]"
                           ng-change="userSave(userB);">
                    <span>{{userB[userCols.timeInMnPerThur]}} <span translate>mn</span></span>
                </li>
                <li class="item range range-positive" ng-show="toggleUserB">
                    <label class="input-label" translate>Friday</label>
                    <input type="range" min="0" max="300" ng-model="userB[userCols.timeInMnPerFrid]"
                           ng-change="userSave(userB);">
                    <span>{{userB[userCols.timeInMnPerFrid]}} <span translate>mn</span></span>
                </li>
                <li class="item range range-positive" ng-show="toggleUserB">
                    <label class="input-label" translate>Saturday</label>
                    <input type="range" min="0" max="300" ng-model="userB[userCols.timeInMnPerSatu]"
                           ng-change="userSave(userB);">
                    <span>{{userB[userCols.timeInMnPerSatu]}} <span translate>mn</span></span>
                </li>
                <li class="item range range-positive" ng-show="toggleUserB">
                    <label class="input-label" translate>Sunday</label>
                    <input type="range" min="0" max="300" ng-model="userB[userCols.timeInMnPerSund]"
                           ng-change="userSave(userB);">
                    <span>{{userA[userCols.timeInMnPerSund]}} <span translate>mn</span></span>
                </li>
            </ul>


            <!--
            <div class="item item-button" ng-if="navAppInitLevel() <= 1">
                      <a class="button button-block icon-right ion-chevron-right button-assertive"
                       ng-href="#/config/category" ng-click="navSetAppInitLevel(2);" translate>Footer_What</a>

            </div>
            -->
            </ul>

            <div class="row">
                <div class="col">&nbsp;</div>
            </div>
        </article>

    </ion-content>
</ion-view>
<div ng-include="'views/commons/footer.html'"></div>
