<!DOCTYPE html>

<ion-view cache-view="false">
    <ion-content class="has-footer back-family">

        <div ng-if="!userInitSpinnerStopped"
             mle-animateshow="!userInitSpinnerStopped"
             after-show="afterNavigationInitSpinnerShow()"
             after-hide="afterNavigationInitSpinnerHide()">
            <div ng-include="'views/commons/computeChore.html'"></div>
        </div>

        <article ng-if="userInitSpinnerStopped">

            <ion-list show-delete="true">
                <ion-item class="item item-icon-left item-dark" ng-repeat="msg in navErrMsgs track by $index">
                    <ion-delete-button class="ion-close-round"
                                       ng-click="navErrMsgs.splice($index,1)"></ion-delete-button>
                    <strong translate>Warning!</strong> {{msg}}
                </ion-item>
            </ion-list>



            <div class="row responsive-md">

                <div class="row responsive-md">
                    <div class="col">&nbsp;</div>
                    <div class="col col-50">

                        <form novalidate>

                            <div class="row">
                                <div class="col">
                                    <label class="item item-input item-icon-right">
                                        <input type="text" ng-model="userA[userCols.firstName]"
                                               ng-change="userSave(userA)" placeholder="{{'UserPseudoA'|translate}}">
                                        <i class="icon ion-edit" style="font-size:100%"></i>
                                    </label>
                                    <div class="item item-body">
                                        <img class="full-image" ng-src="{{profil[userA[userCols.profilID]].img}}">
                                    </div>
                                    <div class="item range range-positive">
                                        <input type="range" min="0" max="{{profil.length - 1}}"
                                               ng-model="userA[userCols.profilID]">
                                    </div>
                                </div>
                                <div class="col">
                                    <label class="item item-input item-icon-right">
                                        <input type="text" ng-model="userB[userCols.firstName]"
                                               ng-change="userSave(userB)" placeholder="{{'UserPseudoB'|translate}}">
                                        <i class="icon ion-edit" style="font-size:100%"></i>
                                    </label>
                                    <div class="item item-body">
                                        <img class="full-image" ng-src="{{profil[userB[userCols.profilID]].img}}">
                                    </div>
                                    <div class="item range range-assertive">
                                        <input type="range" min="0" max="{{profil.length - 1}}"
                                               ng-model="userB[userCols.profilID]">
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="navAppInitLevel() == 0 && userSaved">
                                <div class="col">
                                    <span translate>Level0_You’ve set your profiles ? Ready for the next part : setting all the chores you have to deal with.</span>
                                    <a class="button button-block icon-right ion-chevron-right button-assertive"
                                       ng-href="#/config/category"
                                       ng-click="navSetAppInitLevel(2);userSave(userA);userSave(userB);" translate>Footer_ButtonWhen</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="list">
                                        <label class="item item-input item-select">
                                            <div class="input-label">
                                                {{'LoginLanguage'|translate}}
                                            </div>
                                            <select ng-model="navigLang" class="form-control input-lg"
                                                    ng-options="style.title for style in navigLangs"
                                                    ng-change="navChangeLang(navigLang.code);"></select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="list">
                                        <label class="item item-input item-stacked-label">
                                            <span class="input-label">{{'UserEmailCouple'|translate}}</span>
                                            <input type="email" ng-model="userA[userCols.email]" ng-click="openModal()"
                                                   placeholder="{{'UserEmail'|translate}}" readonly>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--  <div class="row"><button class="button button-clear">&nbsp;</button><button class="button button-clear">&nbsp;</button></div> -->
                    </div>
                    <div class="col">&nbsp;</div>
                </div>


        </article>

    </ion-content>
</ion-view>

<div ng-include="'views/commons/footer.html'"></div>
